* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --lightblue: rgb(35, 54, 78);
  --darkblue: rgb(27, 44, 66);
  --white: white;
}

header {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: -1px;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--white);
}

header a {
  text-decoration: none;
  color: var(--white);
}

header h1 {
  font-size: 36px;
}

footer {
  background-color: var(--lightblue);
  padding: 35px;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer h4 {
  font-size: 18px;
}

.flex-row {
  display: flex;
}

.hero {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  height: 500px;
}

.primary-section-title {
  font-size: 48px;
  color: var(--darkblue);
  padding-bottom: 15px;
  text-align: center;
  width: 40%;
  margin: 0 auto 35px auto;
  border-bottom: 3px solid;
}
